

//
// Fixed Nav
//
body {
	margin-top: 222px;
	&.admin-bar {
		#wrapper-navbar {
			top: 32px;
			@media screen and ( max-width: 782px ) {
				top: 46px;
			}
		}
	}
}

//
// Target anchor fix
//
:target {
	display: block;
	position: absolute;
	top: -222px; 
	visibility: hidden;
}

//
// Typography
//
body {
	letter-spacing: .01em
}
h1 {
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: 3.8rem;
}
h2 {
	letter-spacing: .025em;
	line-height: 2.75rem;
}
h3 {
	letter-spacing: .025em;
	line-height: 2.2rem;
}
h4 {
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: 1.9rem;
}

@each $color, $value in $theme-colors {
  hr.#{$color} {
    border-top: 1px solid #{$value} !important;
  }
}

//
// Backgrounds
//
.bg-gray-clip {
	background: #{$gray-100};
	background: -moz-linear-gradient(top, #{$gray-100} 0%, #{$gray-100} 75%, #{$white} 75%, #{$white} 100%);
	background: -webkit-linear-gradient(top, #{$gray-100} 0%,#{$gray-100} 75%,#{$white} 75%,#{$white} 100%);
	background: linear-gradient(to bottom, #{$gray-100} 0%,#{$gray-100} 75%,#{$white} 75%,#{$white} 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$gray-100}', endColorstr='#{$white}',GradientType=0 );
}

//
// Images
//
img.object-fit-cover {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

//
// Blockquote
//
blockquote {
	.blockquote-footer {
		font-size: 1.25rem;

		&:before {
			display: none;
		}

		img {
			border-radius: 2.125rem;
			display: inline-block;
			height: 4.25rem;
			margin-right: 1.5rem;
			width: 4.25rem;

			@include media-breakpoint-down('sm') {
				display: block;
				margin: auto;
			}
		}
	}
}

//
// Buttons
//
.btn {
	&.btn-primary {
		background-color: $primary;
		border: 1px solid $primary;
		color: $white;

		&:hover {
			background-color: $white;
			color: $primary;
		}

		&:active,
		&:focus {
			background-color: $gray-600;
			color: $white;
			border-color: $gray-600;
		}
	}
	&.btn-secondary {
		background-color: $gray-600;
		border: 1px solid $gray-600;
		color: $white;

		&:hover {
			background-color: $white;
			color: $gray-600;
		}

		&:active,
		&:focus {
			background-color: $primary;
			color: $white;
			border-color: $primary;
		}

	}
	&.btn-outline-primary {
		background-color: transparent;
		border: 1px solid $primary;
		color: $primary;

		&:hover {
			background-color: $primary;
			color: $white;
		}

		&:active,
		&:focus {
			background-color: $gray-600;
			color: $white;
			border-color: $gray-600;
		}
	}
	&.btn-outline-secondary {
		background-color: transparent;
		border: 1px solid $gray-600;
		color: $gray-600;

		&:hover {
			background-color: $gray-600;
			color: $white;
		}

		&:active,
		&:focus {
			background-color: $primary;
			color: $white;
			border-color: $primary;
		}

	}
}

//
// Navbars
//
#top-nav {
	padding-bottom: .6875rem;
	padding-top: .6875rem;

	#searchform {
		margin-right: 2.25rem;

		.input-group {
			border: 1px solid $gray-600;
			border-radius: 1.5rem;

			.form-control {
				background-color: transparent;
				border: none;
				border-top-left-radius: 1.5rem;
				border-bottom-left-radius: 1.5rem;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			.btn {
				background-color: transparent;
				border: none;
				font-size: $font-size-sm;
				&:active,
				&:focus,
				&:hover {
					background-color: transparent;
					color: $primary;
				}
			}
		}
	}
}
#main-nav {
	box-shadow: $box-shadow;
	height: 9.5rem;
	padding: 0;

	.navbar-brand {
		img {
			height: 7.375rem;
			width: auto;
		}
	}
	.navbar-nav {
		height: 9.5rem;

		> .nav-item {
			align-items: center;
			border-bottom: 4px solid transparent;
			border-top: 4px solid transparent;
			display: flex;
			height: 100%;
			margin-left: 1rem;
			margin-right: 1rem;
			text-align: center;

			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
			&:hover,
			&.show {
				border-top-color: $primary;

				.dropdown-menu {
					display: flex;
				}
			}
			.nav-link {
				padding: 0;
			}
		}
	}

	#main-menu {
		.dropdown-toggle {
			&:after {
				display: none;
			}
		}
		// Dropdown
		> .dropdown {
			// Mega Menu wrapper
			> .dropdown-menu {
				border: none;
				box-shadow: $box-shadow;
				flex: 0 0 25%;
				left: -100px;
				margin-top: 3rem;
				&:before {
					background-color: $white;
					border-top: 20px solid #fff;
					border-right: 20px solid #fff;
					border-left: 20px solid transparent;
					border-bottom: 20px solid transparent;
					content: "";
					display: block;
					height: 0;
					left: 126px;
					position: absolute;
					top: -20px;
					transform: rotate(45deg);
					width: 0;
				}
				.dropdown-header {
					color: $dark;
					font-size: $font-size-base;
					&:after {
						content: "";
						display: block;
						width: 3rem;
						height: 0;
						border-top: 2px solid $dark;
						margin-top: 1rem;
					}
				}
				.dropdown-menu {
					border: none;
					flex-direction: column;
					flex-wrap: wrap;
					position: relative;
					top: 0;
					.dropdown-item {
						background-color: transparent;
						color: $gray-600;
						font-size: 1.25rem;
						&:hover {
							background-color: transparent;
							color: $dark;
						}
						&:active {
							background-color: transparent;
							color: $primary;
						}
					}
				}
			}
		}
	}
}

//
// Hero
//
#header-wrapper {
	padding: 0;
	position: relative;

	.wp-post-image {
		position: absolute;
		z-index: -1;
	}

	#header-hero-content-wrapper {
		background-color: rgba($black, .65);
		padding-bottom: 6rem;
		padding-top: 6rem;

		.page-title {
			font-weight: $font-weight-normal;
		}
		.page-subtitle {}
	}
}

//
// Sections
//
section {
	padding-bottom: 3.125rem;
	padding-top: 3.125rem;

	&.section-split-cols {
		padding-bottom: 0;
		padding-top: 0;
		.col-split {
			padding-bottom: 3.125rem;
			padding-top: 3.125rem;
		}
	}

	.section-title {
		margin-bottom: 2rem;
	}
}

//
// Columns
//
.col-split-start {
	flex-grow: 1 !important;
	padding-right: ($grid-gutter-width / 2);
	padding-left: ($grid-gutter-width / 2);
}
.col-split-end {
	flex-grow: 1 !important;
	padding-right: ($grid-gutter-width / 2);
	padding-left: ($grid-gutter-width / 2);
}
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-only($breakpoint) {
		.col-split-start {
			padding-left: calc( ( 100vw - #{map-get($container-max-widths, $breakpoint)} ) / 2 );
		}
		.col-split-end {
			padding-right: calc( ( 100vw - #{map-get($container-max-widths, $breakpoint)} ) / 2 );
		}
	}
}
@for $i from 1 through $grid-columns {
	.col-split-#{$i} {
		flex: 0 0 #{percentage(1 / $grid-columns / $i)};
		&.col-split-start,
		&.col-split-end,
		&:first-of-type,
		&:last-of-type {
			flex-grow: 1 !important;
		}
	}
	@each $grid-breakpoint in map-keys($grid-breakpoints) {
		.col-split-#{$grid-breakpoint}-#{$i} {
			@each $breakpoint in map-keys($container-max-widths) {
				@include media-breakpoint-only($breakpoint) {
					flex: 0 0 #{map-get($container-max-widths, $breakpoint) / $grid-columns / $i};
					&.col-split-start,
					&.col-split-end,
					&:first-of-type,
					&:last-of-type {
						flex-grow: 1 !important;
					}
				}
			}
		}
	}
}


//
// Cards
//
.card {
	box-shadow: 0 .625rem .9375rem rgba($black, .1);

	.card-header {
		background-color: transparent;
		border-bottom: none;
		padding: 1.125rem;
		text-align: center;

		img {
			height: 18rem;
		}
	}

	.card-body {
		text-align: center;
	}

	.card-footer {
		background-color: transparent;
		border-top: none;
		padding-bottom: 3.125rem;
		text-align: center;
	}
}

//
// Carousel
//
.carousel-inner {
	margin: auto;
	width: 70%;
}
.carousel-indicators {
	bottom: 0;
	position: relative;
	li {
		background-color: $gray-600;
		border: 2px solid $gray-600;
		border-radius: 50%;
		box-shadow: inset 0 0 0 2px $white;
		height: 10px;
		margin-left: 9px;
		margin-right: 9px;
		width: 10px;
		&:hover {
			background-color: $dark;
			border-color: $dark;
		}
		&.active,
		&:active,
		&:focus {
			background-color: $primary;
			border-color: $primary;
		}
	}
}
.carousel-control-next,
.carousel-control-prev {
	opacity: 1;

	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		&:after,
		&:before {
			background-color: $primary;
		}
	}
	&:focus,
	&:hover {
		opacity: 1;

		.carousel-control-next-icon,
		.carousel-control-prev-icon {
			&:after,
			&:before {
				background-color: $secondary;
			}
		}
	}
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
	background-image: none;
	height: 32px;
	width: 17px;
	&:after,
	&:before {
		border-radius: 7px;
		box-shadow: $box-shadow;
		content: "";
		display: block;
		height: 20px;
		left: 50%;
		position: absolute;
		top: 50%;
		width: 4px;
	}
}
.carousel-control-next-icon {
	&:after {
		margin-top: -4px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&:before {
		margin-top: -16px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}
.carousel-control-prev-icon {
	&:after {
		margin-top: -4px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	&:before {
		margin-top: -16px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}




//
// Site Footer
//
.site-footer {
	.tagline {
		color: $primary;
		font-weight: $font-weight-bold;
	}
	.widget-title {
		margin-bottom: 1rem;
	}
	.social-icons {
		a {
			border: 1px solid $gray-600;
			border-radius: 1.875rem;
			color: $gray-600;
			display: inline-block;
			font-size: 1.625rem;
			height: 3.75rem;
			line-height: 3.75rem;
			margin-bottom: .25rem;
			text-align: center;
			width: 3.75rem;

			&:hover {
				border-color: $dark;
				color: $dark;
			}
			&:active,
			&:focus {
				border-color: $primary;
				color: $primary;
			}
		}
	}

	#menu-main-menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;

		.menu-item {
			flex: 1 0 50%;
			a {
				color: $gray-600;
				&:hover {
					color: $dark;
					text-decoration: none;
				}
				&:active,
				&:focus {
					color: $primary;
				}
			}
			&.current-menu-item {
				a {
					color: $primary;
				}
			}
		}

		.sub-menu {
			display: none;
		}
	}

	#wrapper-colophon {
		background-color: $gray-200;
		padding-bottom: 1.375rem;
		padding-top: 1.375rem;

		p {
			font-size: 1rem;
			line-height: 1.1875rem;
			margin-bottom: 0;
		}

		a {
			text-decoration: underline;
			&:hover {
				color: $dark;
			}
			&:active,
			&:focus {
				color: $gray-600;
			}
		}
	}
}