
@mixin mobile-size( $font-size ){
	font-size: #{( ( $font-size - $font-size-base ) / 2 ) + $font-size-base};
}
//
// Fixed Nav
//
body {
	margin-top: 198px; // 200px;
	&.admin-bar {
		#wrapper-navbar {
			top: 32px;
			@media screen and ( max-width: 782px ) {
				top: 46px;
			}
		}
	}
	@include media-breakpoint-down('md') {
		margin-top: 161px;
	}
	@include media-breakpoint-down('sm') {
		margin-top: 90px;
	}
}


//
// Typography
//
body {
	letter-spacing: .01em
}
h1 {
	font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: 1.1em;
	@include media-breakpoint-down('md') {
		@include mobile-size( $h1-font-size );
	}
	&.entry-title {
		@extend h2;
	}
}
h2 {
	letter-spacing: .025em;
	line-height: 1.222222em;
	margin-bottom: 2em; // 1em;
	@include media-breakpoint-down('md') {
		@include mobile-size( $h2-font-size );
	}
	&.widget-title {
		margin-bottom: 1em;
	}
}
h3 {
	letter-spacing: .025em;
	line-height: 1.294em;
	@include media-breakpoint-down('md') {
		@include mobile-size( $h3-font-size );
	}
	&.add-ons {
		font-weight: $font-weight-bold;
		margin-bottom: 3rem;
		text-transform: lowercase;
		&:before {
			background: $primary;
			border-radius: 50%;
			content: "";
			display: inline-block;
			height: #{$font-size-base * 1.727272};
			margin-right: 1rem;
			position: relative;
			top: .5rem;
			width: #{$font-size-base * 1.727272};
		}
		img {
			max-height: 2rem;
			width: auto;
			max-width: 80%;
		}
	}
}
h4 {
	// font-weight: $font-weight-bold;
	letter-spacing: 0;
	line-height: 1.218em;
	@include media-breakpoint-down('md') {
		@include mobile-size( $h4-font-size );
	}
}
p {
	&:last-of-type {
		@include media-breakpoint-up('md') {
			margin-bottom: 0;
		}
	}
}

a.anchor {
	position: absolute;
	left: 0px;
	top: -210px;
}

@each $color, $value in $theme-colors {
  hr.#{$color} {
    border-top: 1px solid #{$value} !important;
  }
}

@for $i from 1 through 100 {
	.height-#{$i} {
		height: #{$i * $spacer};
	}
	.min-height-#{$i} {
		min-height: #{$i * $spacer};
	}
	@each $breakpoint, $value in $grid-breakpoints {
		.height-#{$breakpoint}-#{$i} {
			@include media-breakpoint-up("#{$breakpoint}") {
				height: #{$i * $spacer};
			}
		}
		.min-height-#{$breakpoint}-#{$i} {
			@include media-breakpoint-up("#{$breakpoint}") {
				min-height: #{$i * $spacer};
			}
		}
	}
}

//
// lists 
//
ul {
	&.list-checklist {
		padding-left: 5.625rem;
		list-style: none;
		li {
			position: relative;
			&:before {
				background: $primary;
				border-radius: 50%;
				content: "";
				display: inline-block;
				height: #{$font-size-base * 2.6};
				left: -5.625rem;
				position: absolute;
				top: 0;
				width: #{$font-size-base * 2.6};
			}
			&:after {
				border-bottom: 5px solid $white;
				border-left: 5px solid $white;
				content: "";
				display: block;
				height: 16px;
				left: -5.1rem;
				position: absolute;
				top: 13px;
				transform: rotate(-45deg);
				width: 28px;
			}
		}
	}
}
.text-linkedin {
	color: #0077B5;
	font-size: #{$font-size-base * 1.285714286}; // 1.8rem;
}

//
// Breadcrumbs
//
.breadcrumbs {
	margin-bottom: 1rem;
}

//
// Backgrounds
//
.bg-gray-clip {
	background: #{$gray-100};
	background: -moz-linear-gradient(top, #{$gray-100} 0%, #{$gray-100} 75%, #{$white} 75%, #{$white} 100%);
	background: -webkit-linear-gradient(top, #{$gray-100} 0%,#{$gray-100} 75%,#{$white} 75%,#{$white} 100%);
	background: linear-gradient(to bottom, #{$gray-100} 0%,#{$gray-100} 75%,#{$white} 75%,#{$white} 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$gray-100}', endColorstr='#{$white}',GradientType=0 );
}

//
// Images
//
img.object-fit-cover {
	height: 100%;
	object-fit: cover;
	width: 100%;
}
section.section-w-background-image {
	background-color: transparent;
	color: $white;
	padding-bottom: 0;
	padding-top: 0;
	img.section-background-image {
		bottom: 0;
		left: 0;
		right: 0;
		object-fit: cover;
		position: absolute;
		top: 0;
		z-index: -1;
	}
	.background-image-overlay {
		padding-bottom: 3.125rem;
		padding-top: 3.125rem;
		background-color: rgba($black, .65);
	}
}
.card-header__img-wrapper,
.object-fit__img-wrapper {
	background-position: 50% 50%;
	background-size: cover;
	height: 100%;
	// position: absolute;
	width: 100%;
	// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	// 	position: relative;
	// 	// height: auto;
	// }
	&.compat-object-fit {
		// z-index: -1;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			// z-index: inherit;
		}
		img {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			-moz-opacity: 0;
			-khtml-opacity: 0;
			opacity: 0;
		}
	}
}
.object-fit__img-wrapper {
	&.compat-object-fit {
		z-index: -1;
		position: absolute;
	}
}


//
// Blockquote
//
blockquote {
	.blockquote-footer {
		display: flex;
		flex-direction: row;
		font-size: #{$font-size-base * 0.892857143}; // 1.25rem;
		justify-content: center;
		margin-top: 1rem;
		.bf-left {}
		.bf-right {}

		&:before {
			display: none;
		}

		img {
			border-radius: 2.125rem;
			display: inline-block;
			height: 4.25rem;
			margin-right: 1.5rem;
			width: 4.25rem;

			@include media-breakpoint-down('sm') {
				display: block;
				margin: auto;
			}
		}
	}
}

//
// Buttons
//
.btn {
	&.btn-primary {
		background-color: $primary;
		border: 1px solid $primary;
		color: $white;

		&:hover {
			background-color: $white;
			color: $primary;
		}

		&:active,
		&:focus {
			background-color: $gray-600;
			color: $white;
			border-color: $gray-600;
		}
	}
	&.btn-secondary {
		background-color: $gray-600;
		border: 1px solid $gray-600;
		color: $white;

		&:hover {
			background-color: $white;
			color: $gray-600;
		}

		&:active,
		&:focus {
			background-color: $primary;
			color: $white;
			border-color: $primary;
		}

	}
	&.btn-outline-primary {
		background-color: transparent;
		border: 1px solid $primary;
		color: $primary;

		&:hover {
			background-color: $primary;
			color: $white;
		}

		&:active,
		&:focus {
			background-color: $gray-600;
			color: $white;
			border-color: $gray-600;
		}
	}
	&.btn-outline-secondary {
		background-color: transparent;
		border: 1px solid $gray-600;
		color: $gray-600;

		&:hover {
			background-color: $gray-600;
			color: $white;
		}

		&:active,
		&:focus {
			background-color: $primary;
			color: $white;
			border-color: $primary;
		}

	}
}

//
// Navbars
//
#top-nav {
	padding-bottom: .6875rem;
	padding-top: .6875rem;

	#searchform {
		margin-right: 2.25rem;

		.input-group {
			border: 1px solid $gray-600;
			border-radius: 1.5rem;

			.form-control {
				background-color: transparent;
				border: none;
				border-bottom-left-radius: 1.5rem;
				border-bottom-right-radius: 0;
				border-top-left-radius: 1.5rem;
				border-top-right-radius: 0;
				height: auto;
				padding-bottom: 0;
				padding-top: 0;
				transition: $transition-base;
				width: 10rem;
				&:focus {
					width: 20rem;
				}
			}
			.btn {
				background-color: transparent;
				border: none;
				font-size: $font-size-sm;
				&:active,
				&:focus,
				&:hover {
					background-color: transparent;
					color: $primary;
				}
			}
		}
	}
}
#main-nav {
	box-shadow: $box-shadow-sm;
	height: 8.5rem;
	padding: 0;

	.navbar-brand {
		img {
			height: 6rem; // 7.375rem;
			width: auto;
		}
	}
	.navbar-nav {
		height: 8.5rem;

		> .nav-item {
			align-items: center;
			border-bottom: 4px solid transparent;
			border-top: 4px solid transparent;
			display: flex;
			height: 100%;
			margin-left: 1rem;
			margin-right: 1rem;
			text-align: center;
			transition: $transition-base;

			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
			// &:hover,
			&.show {
				border-top-color: $primary;
			}
			&.dropdown-header {
				font-size: inherit;
				padding: inherit;
			}
			.nav-link {
				padding: 0;
				line-height: 8rem;
			}
		}
		.current-menu-item {
			color: $primary;
		}
	}

	#main-menu-wrapper {
		max-width: 66.5rem;
		@include media-breakpoint-up('xl') {
			margin-left: 5rem;
		}
	}

	#main-menu {
		.dropdown-toggle {
			&:after {
				display: none;
			}
		}
		// Dropdown
		> .dropdown { // li
			@include media-breakpoint-down('lg') {
				// position: inherit;
			}
			// &:hover,
			&.show {
				.dropdown-menu {
					display: flex;
				}
			}
			// Mega Menu wrapper
			> .dropdown-menu { // ul
				border: none;
				border-top: 2px solid $gray-200;
				box-shadow: $box-shadow;
				// flex: 0 0 25%;
				left: -8.5rem;
				margin-top: 3rem;
				// @each $breakpoint in map-keys($container-max-widths) {
				// 	@include media-breakpoint-only($breakpoint) {
				// 		left: 50%;
				// 		margin-left: -#{map-get($container-max-widths, $breakpoint)/2};
				// 		max-width: #{map-get($container-max-widths, $breakpoint)};
				// 	}
				// }
				&:before {
					background-color: $white;
					border-top: 2px solid $gray-200;
					border-right: 2px solid $gray-200;
					// border-left: #{$font-size-base * .909090} solid transparent;
					// border-bottom: #{$font-size-base * .909090} solid transparent;
					content: "";
					display: block;
					height: #{$font-size-base * 1.818181};
					left: 10rem;
					position: absolute;
					top: -#{$font-size-base * .909090};
					transform: rotate(-45deg);
					width: #{$font-size-base * 1.818181};
				}
				.dropdown-header {
					color: $dark;
					font-size: $font-size-base;
					text-decoration: none !important;
					&:after {
						content: "";
						display: block;
						width: 3rem;
						height: 0;
						border-top: 2px solid $dark;
						margin-top: 1rem;
					}
				}
				.header-hidden,
				.hidden-header {
					.dropdown-header {
						visibility: hidden;
						&:after {
							border-color: transparent;
						}
					}
				}
				.dropdown-menu {
					border: none;
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					position: relative;
					top: 0;
					.dropdown-item {
						background-color: transparent;
						color: $gray-600;
						font-size: #{$font-size-base * 0.892857143}; // 1.25rem;
						&:hover {
							background-color: transparent;
							color: $dark;
						}
						&:active {
							background-color: transparent;
							color: $primary;
						}
					}
				}
			}
			&.hidden-dropdown {
				> .dropdown-menu {
					display: none !important;
				}
			}
			&.dropdown-stacked {
				> .dropdown-menu {
					flex-direction: column;
				}
			}
		}
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
	#main-menu > .dropdown:first-child > .dropdown-menu {
		width: 1000px;
	}
}

#mobile-nav {
	height: 90px;
	.navbar-brand {
		img {
			max-height: 74px;
			width: auto;
		}
	}
	.navbar-toggler {
		border-color: transparent;
	}
	.navbar-collapse {
		bottom: 0;
		height: 100vh;
		height: calc(100vh - 90px);
		left: 0;
		overflow-y: scroll;
		position: absolute;
		right: 0;
		top: 90px;
	}
	#mobile-menu {
		background-color: $white;
	}
	.navbar-nav {
		.nav-item {
			border-bottom: 1px solid $gray-600;
			&:first-of-type {
				border-top: 1px solid $gray-600;
			}
			.nav-link {
				padding: 1rem;
			}
		}
	}
	.dropdown-header {
		color: $dark;
		font-size: $font-size-base;
		font-weight: $font-weight-bold;
		padding: 0;
	}
	.dropdown-menu {
		padding: 0;
		margin: 0;
		border: none;
		.nav-item {
			background-color: $gray-100;
			&:last-of-type {
				border-bottom: none;
			}
			.dropdown-item {
				color: $gray-600;
				padding: 1rem;
			}
		}
	}
	.dropdown {
		&.show {
			.dropdown-toggle {
				&:after {
					display: inline-block;
					width: 0;
					height: 0;
					margin-left: .255em;
					vertical-align: .255em;
					content: "";
					border-bottom: .3em solid;
					border-right: .3em solid transparent;
					border-top: 0;
					border-left: .3em solid transparent;
				}
			}
		}
	}
}
body.admin-bar #mobile-nav .navbar-collapse {
		height: calc(100vh - 136px);
}

//
// Tabs
//
.nav.nav-tabs {
	box-shadow: $box-shadow-sm;
	.nav-link {
		background-color: $gray-200;
		border: .5px solid transparent; // rgba($gray-600, .5);
		border-radius: 0;
		color: $gray-600;
		flex: 1 0 33.3%;
		font-size: 1.5625rem; // 25px;
		font-weight: $font-weight-bold;
		padding: 2.5rem 1rem;
		text-align: center;
		@include media-breakpoint-down('sm') {
			flex: 1 0 100%;
			padding: 1.5rem 1rem;
		}
		&.active {
			background-color: $primary;
			border-color: $primary;
			color: $white;
		}
		&:nth-child(2) {
			border-left-color: rgba($gray-600, .3);
			border-right-color: rgba($gray-600, .3);
			@include media-breakpoint-down('sm') {
				border-left-color: transparent;
				border-right-color: transparent;
				border-top-color: rgba($gray-600, .3);
			}
		}
		&:nth-child(3) {
			@include media-breakpoint-down('sm') {
				border-top-color: rgba($gray-600, .3);
			}
		}
	}
}
.tab-content {
	background-color: $white;
	border-width: .5px;
	border-style: solid;
	border-color: transparent; // $white rgba($gray-600, .5) rgba($gray-600, .5);
	box-shadow: $box-shadow-sm;
	padding: 3rem;
	@include media-breakpoint-down('sm') {
		padding: 2rem .5rem;
	}
}

//
// Hero
//
#header-wrapper {
	padding: 0;
	position: relative;

	.wp-post-image {
		position: absolute;
		z-index: -1;
	}

	#header-content-wrapper {
		background-color: $gray-200;
		color: $gray-600;
		padding-bottom: 6rem;
		padding-top: 6rem;
		@include media-breakpoint-down('md') {
			padding-bottom: 4rem;
			padding-top: 4rem;
		}

		.page-title {
			font-weight: $font-weight-normal;
			margin-bottom: #{$font-size-base * 2.5};
		}
		.page-subtitle {}
	}
	#header-hero-content-wrapper {
		background-color: rgba($black, .65);
		color: $white;
		padding-bottom: 6rem;
		padding-top: 6rem;
		@include media-breakpoint-down('md') {
			padding-bottom: 4rem;
			padding-top: 4rem;
		}

		.page-title {
			font-weight: $font-weight-normal;
			margin-bottom: #{$font-size-base * 2.5};
		}
		.page-subtitle {}
	}
}

//
// Sections
//
section {
	padding-bottom: 3.125rem;
	padding-top: 3.125rem;
	position: relative;

	&.section-split-cols {
		padding-bottom: 0;
		padding-top: 0;
		.col-split {
			padding-bottom: 3.125rem;
			padding-top: 3.125rem;
		}
	}

	// .section-title {
	// 	margin-bottom: 2rem;
	// }
}

//
// Columns and rows
//
.col-split-start {
	flex-grow: 1 !important;
	padding-right: ($grid-gutter-width / 2);
	padding-left: ($grid-gutter-width / 2);
}
.col-split-end {
	flex-grow: 1 !important;
	padding-right: ($grid-gutter-width / 2);
	padding-left: ($grid-gutter-width / 2);
}
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-only($breakpoint) {
		.col-split-start {
			padding-left: calc( ( 100vw - #{map-get($container-max-widths, $breakpoint)} ) / 2 );
		}
		.col-split-end {
			padding-right: calc( ( 100vw - #{map-get($container-max-widths, $breakpoint)} ) / 2 );
		}
	}
}
@for $i from 1 through $grid-columns {
	.col-split-#{$i} {
		flex: 0 0 #{percentage(1 / $grid-columns / $i)};
		&.col-split-start,
		&.col-split-end,
		&:first-of-type,
		&:last-of-type {
			flex-grow: 1 !important;
		}
	}
	@each $grid-breakpoint in map-keys($grid-breakpoints) {
		.col-split-#{$grid-breakpoint}-#{$i} {
			@each $breakpoint in map-keys($container-max-widths) {
				@include media-breakpoint-only($breakpoint) {
					flex: 0 0 #{map-get($container-max-widths, $breakpoint) / $grid-columns / $i};
					&.col-split-start,
					&.col-split-end,
					&:first-of-type,
					&:last-of-type {
						flex-grow: 1 !important;
					}
				}
			}
		}
	}
}



//
// Cards
//
.card {
	box-shadow: $box-shadow;

	.card-header {
		background-color: transparent;
		border-bottom: none;

		h2 {
			margin-bottom: 0;
		}

		.card-img-top {
			height: 12rem; // 18rem;
		}
	}

	.card-body {
		background-color: transparent;
		// padding-bottom: #{$card-spacer-y * 1.8};
		// padding-top: #{$card-spacer-y * 1.8};
	}

	.card-footer {
		background-color: transparent;
		border-top: none;
		padding-bottom: #{$card-spacer-y * 1.8};
	}
}
.card-deck {
	.card {
		flex: 1 0 100%;
		margin-bottom: #{$card-deck-margin * 2};
		@include media-breakpoint-up('md') { // 2 Cols
			flex: 1 0 40%;
			flex: 1 0 calc(50% - #{$card-spacer-x * 2});
			max-width: calc(50% - #{$card-spacer-x * 2});
		}
	}
	&[data-cols="3"] {
		.card {
			@include media-breakpoint-up('lg') { // 3 Cols
				flex: 1 0 30%;
				flex: 1 0 calc(33.3333% - #{$card-spacer-x});
				max-width: calc(33.3333% - #{$card-spacer-x});
			}		
		}
	}
	&[data-cols="4"] {
		.card {
			@include media-breakpoint-up('lg') { // 4 Cols
				flex: 1 0 20%;
				flex: 1 0 calc(25% - #{$card-spacer-x});
				max-width: calc(25% - #{$card-spacer-x});
			}		
		}
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
	.card-deck {
		.card {
			flex: 1 0 100%;
			@include media-breakpoint-up('md') { // 2 Cols
				flex: 1 0 30%;
			}
		}
		&[data-cols="3"] {
			.card {
				@include media-breakpoint-up('lg') { // 3 Cols
					flex: 1 0 25%;
				}		
			}
		}
		&[data-cols="4"] {
			.card {
				@include media-breakpoint-up('lg') { // 4 Cols
					flex: 1 0 20%;
				}		
			}
		}
	}
	.nav.nav-tabs .nav-link {
		flex: 1 0 30%;
	}
}

#home-wrapper {
	.card-deck {
		.card {
			background: $gray-200;
			box-shadow: none;
			.card-header {
				+ .card-body {
					padding-bottom: 0;
					padding-top: 0;
				}
				.card-img-top {
					height: 10rem;
				}
			}
			.card-body {
				h5 {
					font-size: #{$font-size-base * 0.892857143}; // 1.25rem;
					font-weight: $font-weight-bold;
				}
				p {
					font-size: #{$font-size-base * 0.803571429}; // 1.125rem;
				}
			}
		}
	}
	.row.row-featured {
		img.wp-post-image {
			max-height: #{$font-size-base * 26};
		}
	}
}

#leadership {
	.card-deck {
		.card {
			box-shadow: none;
			border: none;
			
		}
	}
}

#services_cards {
	.card-header {
		img {
			max-height: 60px;
		}
	}
	.card {
		&:hover {
			color: $white !important;
			background-color: $primary;
			a {
				color: $white;
			}
		}
	}
}
//
// Carousel
//
.carousel-inner {
	margin: auto;
	width: 70%;
}
.carousel-indicators {
	bottom: 0;
	position: relative;
	li {
		background-color: $gray-600;
		border: 3px solid $gray-600;
		border-radius: 50%;
		box-shadow: inset 0 0 0 3px $white;
		height: 16px;
		margin-left: 9px;
		margin-right: 9px;
		width: 16px;
		&:hover {
			background-color: $dark;
			border-color: $dark;
		}
		&.active,
		&:active,
		&:focus {
			background-color: $primary;
			border-color: $primary;
		}
	}
}
.carousel-control-next,
.carousel-control-prev {
	opacity: 1;
	// align-items: inherit;

	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		position: relative;
		// top: 6rem;
		&:after,
		&:before {
			background-color: $primary;
		}
	}
	&:focus,
	&:hover {
		opacity: 1;

		.carousel-control-next-icon,
		.carousel-control-prev-icon {
			&:after,
			&:before {
				background-color: $secondary;
			}
		}
	}
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
	background-image: none;
	height: 32px;
	width: 17px;
	&:after,
	&:before {
		border-radius: 7px;
		box-shadow: $box-shadow-sm;
		content: "";
		display: block;
		height: 20px;
		left: 50%;
		position: absolute;
		top: 50%;
		width: 4px;
	}
}
.carousel-control-next-icon {
	&:after {
		margin-top: -4px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&:before {
		margin-top: -16px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}
.carousel-control-prev-icon {
	&:after {
		margin-top: -4px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	&:before {
		margin-top: -16px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

.carousel-inner {
	height: 100%;
	.carousel-item {
		// min-height: #{$font-size-base * 9.090909};
	}
}
//
// custom carousels
//
#home_testimonials {
	.carousel {
		min-height: 12rem;
	}
}
#customer-profiles {
	.w-100 {
		border-bottom: 1px solid rgba($gray-600, .3);
		margin-bottom: 3rem;
		padding-top: 3rem;
	}
}
.valuable-partners-slider {
	.carousel {
		min-geight: 80px;
	}
	.carousel-item {
		img {
			max-height: 80px;
			object-fit: contain;
		}
	}
}

//
// Forms
//
.gform_wrapper {
	padding: 0;
	input[type="email"],
	input[type="number"],
	input[type="text"],
	select,
	textarea {
		border-radius: 0 !important;
		font-size: 0.875rem !important; // 14px
		height: auto !important;
		padding: 1rem !important;
	}
	select {
		-webkit-appearance: none;
	}
	.gfield_label {
		display: none !important;
	}
	.form-group {
		margin-bottom: 1.5rem;
	}
	.gform_footer {
		padding-left: 1rem;
		.gform_button {
			padding-left: 3rem;
			padding-right: 3rem;
		}
		br {
			display: none;
		}
		p {
			height: 0;
		}
	}
	textarea {
		max-height: 8rem;
	}
	@include media-breakpoint-up('md') {
		.top_label li.gfield.gf_left_half,
		.top_label li.gfield.gf_right_half {
			width: 49.5%;
			width: calc(50% - 2px);
			flex: 0 0 50%;
		}
	}
}

#mc_embed_signup .mc-field-group.input-group ul {
	width: 100%;
	input[type="checkbox"] {
		margin-right: .5rem;
	}
}

//
// Modals
//
.modal-dialog {
	@include media-breakpoint-up('sm') {
		width: 80vw;
		width: calc(100vw - 4rem);
	}
}
.modal-content {
	border-radius: 0;
	button.close {
		background-color: $white;
		border-radius: 50%;
		box-shadow: $box-shadow-sm;
		color: transparent;
		height: 60px;
		opacity: 1;
		position: absolute;
		right: -30px;
		text-align: center;
		top: -30px;
		width: 60px;
		&:before, &:after {
			background: $gray-600;;
			content: '';
			height: 2px;
			left: 50%;
			margin-left: -20px;
			margin-top: -1px;
			position: absolute;
			top: 50%;
			width: 40px;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:not(:disabled):not(.disabled):focus,
		&:not(:disabled):not(.disabled):hover {
			opacity: 1;
		}
		span {
			bottom: 0;
			color: transparent;
			font-size: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.modal-title {
		font-weight: bold;
	}
}

//
// Single
//
.entry-header {
	img {
		margin-bottom: 3rem;
	}
}

.entry-footer {
	border-bottom: 1px solid $gray-600;
	border-top: 1px solid $gray-600;
	margin-bottom: 1.375rem;
	margin-top: 1.375rem;
	padding-bottom: 1.375rem;
	padding-top: 1.375rem;
	.social-icons {
		a {
			border: 1px solid $gray-600;
			border-radius: 50%;
			color: $gray-600;
			display: inline-block;
			font-size: .825rem;
			height: 1.875rem;
			line-height: 1.875rem;
			margin-bottom: .25rem;
			text-align: center;
			width: 1.875rem;

			&:hover {
				border-color: $dark;
				color: $dark;
			}
			&:active,
			&:focus {
				border-color: $primary;
				color: $primary;
			}
		}
	}
}
#search-wrapper {
	.entry-footer {
		margin-top: 2rem;
	}
}
//
// widgets
//
.widget {
	margin-bottom: 2rem;
	&.widget_categories {
		ul {
			list-style: none;
			padding: 0;
			li {
				color: $secondary;
				font-weight: bold;
			}
		}
	}
	&.widget_lc_taxonomy {
		ul {
			list-style: none;
			padding: 0;
			li {
				border: 1px solid $primary;
				box-sizing: border-box;
				color: $gray-600;
				display: inline-block;
				font-weight: $font-weight-bold;
				padding: 5px 10px;
				margin: 0 10px 10px 0;
				a {
					font-size: #{$font-size-base * .818181};
				}
			}
		}
	}
}

//
// Site Footer
//
.site-footer {
	img.footer-logo {
		@include media-breakpoint-down('sm') {
			max-width: 8.125rem;
		}
	}
	p {
		font-size: .95rem;
	}
	.custom-logo-link {
		max-width: 15.5rem;
	}
	.tagline {
		color: $primary;
		font-weight: $font-weight-bold;
	}
	.widget-title {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	.social-icons {
		a {
			border: 1px solid $gray-600;
			border-radius: 50%;
			color: $gray-600;
			display: inline-block;
			font-size: #{$font-size-base * 1.181818};
			height: #{$font-size-base * 2.181818};
			line-height: #{$font-size-base * 2.181818};
			margin-bottom: .25rem;
			text-align: center;
			width: #{$font-size-base * 2.181818};

			&:hover {
				border-color: $dark;
				color: $dark;
			}
			&:active,
			&:focus {
				border-color: $primary;
				color: $primary;
			}
		}
	}

	.widget_nav_menu {
		ul.menu {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			max-width: 25rem;
			padding: 0;

			.menu-item {
				flex: 1 0 50%;
				&:nth-child(odd) {
					flex: 1 0 40%;
				}
				&:nth-child(even) {
					flex: 1 0 60%;
				}
				a {
					color: $gray-600;
					font-size: .9rem;
					&:hover {
						color: $dark;
						text-decoration: none;
					}
					&:active,
					&:focus {
						color: $primary;
					}
				}
				&.current-menu-item {
					a {
						color: $primary;
					}
				}
			}

			.sub-menu {
				display: none;
			}
		}
	}

	#wrapper-colophon {
		background-color: $gray-200;
		padding-bottom: 1.375rem;
		padding-top: 1.375rem;

		p {
			font-size: #{$font-size-base * 0.727272727}; // 1rem;
			line-height: 1.1875rem;
			margin-bottom: 0;
		}

		a {
			text-decoration: underline;
			&:hover {
				color: $dark;
			}
			&:active,
			&:focus {
				color: $gray-600;
			}
		}
	}
}



/**
 * WordPress Hustle
 */
.wph-modal {
	background: rgba(0,0,0,.5);
	padding-left: 0 !important;
	padding-right: 0 !important;
	.hustle-modal {
		width: 100%;
		max-width: 100%;
		.hustle-modal-close {
			position: absolute;
			right: 1rem;
			top: 1rem;
			z-index: 1;
			&:before, &:after {
				background: $gray-600;;
				content: '';
				height: 2px;
				left: 50%;
				margin-left: -20px;
				margin-top: -1px;
				pointer-events: none;
				position: absolute;
				top: 50%;
				width: 40px;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
			.hustle-icon {
				height: 2rem;
				max-height: 2rem;
				max-width: 2rem;
				width: 2rem;
				path {
					fill: transparent;
					&:hover {
						fill: transparent;
					}
				}
			}
		}
		.hustle-modal-body {
			section {
				padding: 0;
				.hustle-modal-image {
					min-width: 40%;
					@include media-breakpoint-down('sm') {
						display: none;
					}
				}
				.hustle-modal-content,
				.hustle-modal-message {
					padding: 4rem 8rem;
					@include media-breakpoint-down('sm') {
						padding: 2rem 4rem;
					}
				}
			}
		}
	}
}
